<main>

    <p>Vous souhaitez faire un 10km en courant en moins d'1h.</p>

    <form id="searchForm" method="get" action="index_choix2.php">
        <fieldset>
            <label for="choix_1">Quelle stratégie de course choisissez-vous?</label><br>
            <select name="choix_1">
                <option value="speed">courrir vite</option>
                <option value="fundamental_endurance">courrir en endurance fondamentale</option>
                <option value="slow">courrir lentement</option>
            </select>
        <fieldset>
        <fieldset>
            <button type="submit">Lancer la recherche</button>
        </fieldset>
    </form>

</main>